<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        fieldset{
            width: 400px;
            text-align: center;
        }
    </style>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <fieldset>
            <legend>Login</legend>
            <input type="text" name="username" placeholder="Nome do usuario"><br><br>
            <input type="password" name="password" placeholder="Senha"><br><br>
            <input type="submit">
        </fieldset>
    </form>
</body>
</html>